SECRET_KEY = 
DEBUG = 
EMAIL_HOST = 
EMAIL_PORT = 
EMAIL_HOST_USER = '' # Your Email
EMAIL_HOST_PASSWORD = '' # Your Password , Video Link = 'https://www.youtube.com/watch?v=qk8nJmIRbxk&t=289s&ab_channel=WebTech
EMAIL_USE_TLS = 

